body 
{
    font-family:'Times New Roman', Times, serif;
}
.footermain
{
    background-color: yellow;
}
/*header start*/
.nav-link
{
    margin:0 0 0 25px;
}
.navbar {
   
    padding: .5rem 0;
}
/*header end*/